/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
     font-family: Maison Neue;
 }

 

 a {
     color: rgb(76,120,184);
 }

 .header {
     position: fixed;
     top: 0px;
     width: 100%;
     height: 44px;
     background-color: rgb(25,58,102);
     margin-left: -8px;
     z-index: 10;
 }

 .header h3 {
     color: white;
     margin-top: 12px;
     margin-left: 8px;
     float: left;
 }

 a.all-players {
     position: absolute;
     margin-top: 13px;
     margin-left: 50px;
     text-decoration: none;
     color: rgb(200,200,200);
 }

 .user-login {
     position: fixed;
     margin-top: 12px;
     float: right;
     right: 32px;   
 }

 .user-login p.separator {
     margin-left: 9px;
     margin-right: 14px;
     color: rgb(130,130,130);
 }

 .user-login p {
     font-size: 14px;
     display: inline-block;
     margin-top: -80px;
 }

.user-login a {
    text-decoration: none;
    color: rgb(200,200,200);
}

