/* Players/New */
/* =========== */

.input-field-height {
    width: 40px;
}

/* Players/Show */
/* ============ */
img.show-flag {
    width: 50px;
}

img {
    width: 300px;
}

.player-country img.show-flag {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid rgb(180,180,180);
    margin-right: 5px;
}

.player-country p {
    display: inline-block;
}

/* Players/Index*/
/* ============ */

.player-card {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}

.player-card a {
    text-decoration: none;
}

.player-index-img {
    width: 200px;
}

.player-card img.index-flag {
    width: 40px;
    border: 1px solid rgb(180,180,180);
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

/* Players/Edit */
/* ============ */ 

.edit-page h3 {
    display: inline-block;
    margin-right: 50px;
}

.edit-page p {
    display: inline-block;
}