/* Players/New */
/* =========== */

.input-field-height {
    width: 40px;
}

#error_explanation {
    margin-bottom: 30px;
}

#error_explanation p.error-headline {
    color: red;
}

.field_with_errors {
    padding: 2px;
    background-color: red;
    display: table;
  }

#error_explanation li {
    color: red;
}

.form-header {
    margin-top: 80px;
}

/* Players/Bio */
/* =========== */ 
.fixed-bio {
    position: fixed;
    float: left;
    height: 100%;
    width: 270px;
    border-right: 1px solid gray;
    margin-right: 20px;
    margin-top: 36px;
}

.fixed-bio h1 {
    font-size: 30px;
}

.player-country p {
    font-size: 14px;
}

.player-country {
    margin-top: -13px;
}

.fixed-bio img {
    border-radius: 6px;
}

.player-details {
    margin-top: -9px;
    margin-bottom: 22px;
}

.player-details p {
    font-size: 14px;
    margin-bottom: -2px;
}

.first_row p {
    display: inline-block;
}

/* Players/Show */
/* ============ */

.video-header {
    position: fixed;
    left: 279px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid gray;
    height: 54px;
    margin-top: 36px;
    margin-bottom: 20px;
}

.video-header a.match-link {
    font-size: 18px;
    position: relative;
    display: inline-block;
    margin-left: 58px;
    top: 17px;
    text-decoration: none;
}

.video-header a.second-link {
    font-size: 18px;
    position: relative;
    display: inline-block;
    margin-left: 40px;
    top: 17px;
    text-decoration: none;
}

.video-header a.current-page {
    font-weight:600;
}

.video-header a {
    text-decoration: none;
    position: fixed;
    top: 62px;
    right: 30px;
}

.videos {
    float:left;
    margin-left: 300px;
    margin-top: 106px;
    padding: 0px 0px 0px 0px;
}

img.show-flag {
    width: 40px;
}

img {
    width: 240px;
}

.player-country img.show-flag {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid rgb(180,180,180);
    margin-right: 5px;
}

.player-country p {
    display: inline-block;
}

.individual-card   {
    display: inline-block;
    margin-bottom: 20px;
    margin-right:15px;
}

.individual-card p {
    margin-top: 2px;
}

/* Players/Index*/
/* ============ */

.index-second-header {
    position:fixed;
    width: 100%;
    margin-left: -8px;
    margin-top: 36px;
    padding-top: 20px;
    height: 56px;
    border-bottom: 1px solid gray;
    background-color: white;
    z-index: 10;
}

.index-second-header h1 {
    float: left;
    margin-top: 1px;
    margin-left: 8px;
    font-size: 30px;
}

.index-second-header .filter-input {
    display: inline-block;
    margin-top: 8px;
    margin-left: 49px;
}

.index-second-header a.add-player {
    position: absolute;
    margin-top: 9px;
    right: 34px;
}

.filter-menu {
    margin-right: 7px;
    display: inline-block;
}

.players-content {
    position: absolute;
    margin-top: 156px;    
}

.players-content h4 {
    font-size: 15px;
    font-weight: 400;
    margin-top: -18px;
    margin-bottom: -10px;
}

.player-card {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 42px;
}

.player-card a {
    text-decoration: none;
}

.player-index-img {
    width: 200px;
    border-radius: 6px;
}

.player-card img.index-flag {
    width: 40px;
    border: 1px solid rgb(180,180,180);
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.name-filter {
    position: absolute;
    left: 860px;
}

.search-bar input{
    width: 90px;
    margin-right:2px;
}

.search-bar .search-input {
    width: 60px;
    margin-left: 5px;
}

.search-separator {
    border-right: 1px solid rgb(180,180,180);
    height: 40px;
    z-index: 11;
    position: fixed;
    margin-top: 55px;
    left: 867px;
}

/* Players/Edit */
/* ============ */ 

.edit-page {
    margin-top: -8px;
}

.edit-page h3 {
    display: inline-block;
    margin-right: 50px;
}

.edit-page p {
    display: inline-block;
}

.cancel-player-button {
    position: absolute;
    margin-top: -60px;
    margin-left: 65px;
    width: 70px;
    height: 22px;
}

.cancel-player-button p.cancel-player {
    margin-top: 0px;
}

.check-box {
    display: block;
}

