h1 {
    font-size: 40px;
}

.home-images {
    margin-left: 50px;
}

.home-image {
    position: fixed;
    bottom: 0px;
    width: 650px;
    display: inline-block;
}

.second-img {
    margin-left: 510px;
    width: 730px;
}

.user-form {
    position: fixed;
    z-index: 10;
}

p.social-login {
    margin-top:30px;
}

p.signup-login {
    margin-top: 40px;
}

h3 {
    margin-top: 42px;
}