// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.field_with_errors {
    padding: 2px;
    background-color: red;
    display: table;
  }

.user-content {
    margin-top: 66px;
}

.u-captions p{
    display: inline-block;
}

.u-video-year {
    margin-left: 20px;
    margin-right: 20px;
}

.u-edit {
    margin-left: 20px;
    
}



.u-button {
    position: relative;
    margin-top: -5px;
    margin-right: 50px;
}

.user-second-header {
    position:fixed;
    width: 100%;
    margin-left: -8px;
    margin-top: 36px;
    padding-top: 20px;
    height: 56px;
    border-bottom: 1px solid gray;
    background-color: white;
    z-index: 10;
}

.user-second-header h1 {
    float: left;
    margin-top: 1px;
    margin-left: 8px;
    font-size: 30px;
}

.user-videos {
    position: absolute;
    margin-top: 148px;
}



.user-edit-form {
    margin-top: 40px;
}

a.edit-user {
    position: absolute;
    margin-top: 9px;
    right: 34px;
}

.cancel-button {
    position: absolute;
    margin-top: -22px;
    margin-left: 65px;
    width: 70px;
    height: 22px;
}

.cancel-button p.cancel {
    margin-top: 0px;
}

p.videos-count {
    position: absolute;
    margin-top: 150px;
}

h4.videos-count {
    position: absolute;
    margin-top: 138px;
    font-weight: 400;
    font-size: 15px;
}

/* USERS/STATUS */
/* ============ */

.users-statuses {
    margin-top: 100px;
}

buttton.deny-admin-button {
    background-color: green;
    height: 30px;
}

buttton.approve-admin-button {
    width: 100px;
    background-color: red;
}


/* USERS/COMMENT */ 
/* ============= */ 

p.back-to {
    margin-top: 80px;
}

.video-comment {
    margin-top: 30px;
}

.comment-field {
    width: 400px;
    height: 120px;}

.video-embedded {
    margin-top: 40px;
}