// Place all the styles related to the Videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.video-header {
    z-index: 10;
}

.field_with_errors {
    padding: 2px;
    background-color: red;
    display: table;
  }

.videos .individual-card p.video-year {
    float: left;
}

.videos .individual-card p.edit {
    display: inline-block;
    margin-left: 40px;
    font-size: 13.5px;
  }

.individual-card button {
    position: absolute;
    margin-top: -32px;
    margin-left: 314px;
    height: 25px;
    width: 75px;
    
} 

p.edit {
    font-size: 13px;
}


button.favorited-button {
    background-color: green;
}

button p.favorited {
    color: white;
}

.user-videos {
    text-align: left;
}

.individual-card img {
    width: 240px;
    display: inline-block;
}

