// Place all the styles related to the Videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.video-header {
    z-index: 10;
}

.field_with_errors {
    padding: 2px;
    background-color: red;
    display: table;
  }

.flash-msg-videos {
    color: red;
    margin-top: 30px;
    margin-bottom: 30px;
}

.individual-card {
    margin-bottom: 66px;
}

.individual-card button {
    position: absolute;
    margin-top: -32px;
    margin-left: 420px;
    height: 25px;
    width: 75px;
} 

p.edit a{
    position: absolute;
    margin-left: 90px;
    margin-top: 2px;
    font-size: 13px;
}

p.edit-hidden a{
    position: absolute;
    visibility: hidden;
    margin-left: 90px;
    margin-top: 2px;
    font-size: 13px;
}

p.video-year {
    position: absolute;
    margin-top: 3px;
}

button.favorited-button {
    position: absolute;
    margin-top: -10px;
    background-color: green;
}

button.regular-button {
    position: absolute;
    margin-top: -10px;
}

.favorited-button p.favorited {
    margin-top: 2px;
    color: white;
}

.user-videos {
    text-align: left;
}

.player-category-videos {
    margin-bottom: -28px;
    
}

.individual-card img {
    width: 240px;
    display: inline-block;
}

.videos h4 {
    font-size: 15px;
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: -10px;
}

/* VIDEO/EDIT */
/* ========== */

.cancel-video-button {
    position: absolute;
    margin-top: -22px;
    margin-left: 66px;
    width: 70px;
    height: 22px;
}

.cancel-video-button p.cancel-video {
    margin-top: 0px;
}

