// Place all the styles related to the Videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.video-header {
    z-index: 10;
}

.field_with_errors {
    padding: 2px;
    background-color: red;
    display: table;
  }

.flash-msg-videos {
    color: red;
    margin-top: 30px;
    margin-bottom: 30px;
}

.videos .individual-card p.video-year {
    float: left;
}

.videos .individual-card p.edit {
    display: inline-block;
    margin-left: 40px;
    font-size: 13.5px;
  }

.individual-card button {
    position: absolute;
    margin-top: -32px;
    margin-left: 382px;
    height: 25px;
    width: 75px;
} 


    

p.edit {
    font-size: 13px;
}


button.favorited-button {
    background-color: green;
}

button p.favorited {
    color: white;
}

.user-videos {
    text-align: left;
}

.player-category-videos {
    margin-bottom: -8px;
    
}

.individual-card img {
    width: 240px;
    display: inline-block;
}

.videos h4 {
    font-size: 15px;
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: -10px;
}

/* VIDEO/EDIT */
/* ========== */

.cancel-video-button {
    position: absolute;
    margin-top: -22px;
    margin-left: 66px;
    width: 70px;
    height: 22px;
}

.cancel-video-button p.cancel-video {
    margin-top: 0px;
}

