<div class="header">
    <h3>TENNISPEDIA</h3>
    <div class="user-login">
        <%if logged_in?%>
            <p><%=link_to "#{current_user.name}'s Profile", "/users/#{current_user.slug}"%></p>
        <%else %>
            <p><%=link_to "Sign Up", "/signup", class: "first-login-link"%></p>
            <p><%=link_to "Log In", "/login"%></p>
        <%end%>
    </div>
</div>