<div class="header">
    <h3>TENNISPEDIA</h3>
    <a href="/players" class="all-players">All Players</a>
    <div class="user-login">
        <%if logged_in?%>
            <p class="profile-link"><%=link_to "#{current_user.name}'s Profile", "/users/#{current_user.slug}"%></p>
            <p class="separator">|<p>
            <p><%=link_to "Log Out", logout_path%></p>
        <%else %>
            <p><%=link_to "Sign Up", "/signup"%></p>
            <p class="separator">|<p>
            <p><%=link_to "Log In", "/login"%></p>
        <%end%>
    </div>
</div>